/*Si en la class .row comento flex-wrap puedo agregar mas columnas --------Linea 32*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #ff8d00e0;
}

.header {
  text-align: center;
  padding: 32px;
}

.header h1{
	color: #fff;
}

.header p{
	color: red;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  //flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*Text Block*/

a{
	color: #0070ffd1;
	text-decoration: none;
	font-weight: bold;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 33px;
  right: 20px;
  background-color: #00000085;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

------

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}